In [2]:
# import the libraries
import pandas as pd
import numpy as np

In [3]:
# read csv
df = pd.read_csv("test1Working.csv")

In [4]:
# To print no. of samples and attributes
print(df.shape)

(10998, 9)

In [5]:
# getting the columns of the dataset
columns = list(df.columns)
print(columns)

['Date', 'Time', 'Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']

In [6]:
# To print first five samples
print(df.head())

         Date      Time Global_active_power Global_reactive_power  Voltage  \
0  16/12/2006  17:24:00               4.216                 0.418  234.840
1  16/12/2006  17:25:00               5.360                 0.436  233.630
2  16/12/2006  17:26:00               5.374                 0.498  233.290
3  16/12/2006  17:27:00               5.388                 0.502  233.740
4  16/12/2006  17:28:00               3.666                 0.528  235.680

  Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3
0           18.400          0.000          1.000            17.0
1           23.000          0.000          1.000            16.0
2           23.000          0.000          2.000            17.0
3           23.000          0.000          1.000            17.0
4           15.800          0.000          1.000            17.0

In [7]:
#Describing dataset 
print(df.describe())

       Sub_metering_3
count    10996.000000
mean         8.287832
std          8.733173
min          0.000000
25%          0.000000
50%          0.000000
75%         17.000000
max         20.000000

In [8]:
#New dataframe 
new_df = df
#Checking for null values
print("------------------------------")
print(new_df.isnull())
print("------------------------------")
# print("Missing values distribution: ")
print(new_df.isnull().mean())
print("------------------------------")
print(df.isnull().values.any())

------------------------------
        Date   Time  Global_active_power  Global_reactive_power  Voltage  \
0      False  False                False                  False    False
1      False  False                False                  False    False
2      False  False                False                  False    False
3      False  False                False                  False    False
4      False  False                False                  False    False
...      ...    ...                  ...                    ...      ...
10993  False  False                False                  False    False
10994  False  False                False                  False    False
10995  False  False                False                  False    False
10996  False  False                False                  False    False
10997  False  False                False                  False    False

       Global_intensity  Sub_metering_1  Sub_metering_2  Sub_metering_3
0                 False           False           False           False
1                 False           False           False           False
2                 False           False           False           False
3                 False           False           False           False
4                 False           False           False           False
...                 ...             ...             ...             ...
10993             False           False           False           False
10994             False           False           False           False
10995             False           False           False           False
10996             False           False           False           False
10997             False           False           False           False

[10998 rows x 9 columns]
------------------------------
Date                     0.000000
Time                     0.000000
Global_active_power      0.000000
Global_reactive_power    0.000000
Voltage                  0.000000
Global_intensity         0.000000
Sub_metering_1           0.000000
Sub_metering_2           0.000000
Sub_metering_3           0.000182
dtype: float64
------------------------------
True

In [9]:
# #Checking for duplicates
print("------------------------------")
print(new_df.duplicated().any()) 
print("------------------------------")
print(new_df.duplicated())

------------------------------
False
------------------------------
0        False
1        False
2        False
3        False
4        False
         ...
10993    False
10994    False
10995    False
10996    False
10997    False
Length: 10998, dtype: bool

In [10]:
print("Column datatypes: ")
new_df['Voltage'] = pd.to_numeric(new_df['Voltage'], errors='coerce')
new_df['Voltage'] = new_df['Voltage'].astype(float)

new_df['Global_active_power'] = pd.to_numeric(new_df['Global_active_power'], errors='coerce')
new_df['Global_active_power'] = new_df['Global_active_power'].astype(float)

new_df['Global_reactive_power'] = pd.to_numeric(new_df['Global_reactive_power'], errors='coerce')
new_df['Global_reactive_power'] = new_df['Global_reactive_power'].astype(float)

new_df['Date'] = pd.to_numeric(new_df['Date'], errors='coerce')
new_df['Date'] = new_df['Date'].astype(float)
print(new_df.dtypes)
print(new_df["Voltage"].isnull())

Column datatypes:
Date                     float64
Time                      object
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity          object
Sub_metering_1            object
Sub_metering_2            object
Sub_metering_3           float64
dtype: object
0        False
1        False
2        False
3        False
4        False
         ...
10993    False
10994    False
10995    False
10996    False
10997    False
Name: Voltage, Length: 10998, dtype: bool

In [11]:
#Finding unique values in "Voltage" 
print(new_df["Voltage"].unique())

[234.84 233.63 233.29 ... 248.17 248.16 248.  ]

In [12]:
#Describing data after preprocessing 
print(new_df.shape) 
print(new_df.head())

(10998, 9)
   Date      Time  Global_active_power  Global_reactive_power  Voltage  \
0   NaN  17:24:00                4.216                  0.418   234.84
1   NaN  17:25:00                5.360                  0.436   233.63
2   NaN  17:26:00                5.374                  0.498   233.29
3   NaN  17:27:00                5.388                  0.502   233.74
4   NaN  17:28:00                3.666                  0.528   235.68

  Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3
0           18.400          0.000          1.000            17.0
1           23.000          0.000          1.000            16.0
2           23.000          0.000          2.000            17.0
3           23.000          0.000          1.000            17.0
4           15.800          0.000          1.000            17.0

In [14]:
new_df.to_csv('datasetForExp2andExp3.csv', index=False)