In [8]:
# import the pandas library
import pandas as pd
import numpy as np
# read csv
df = pd.read_csv("car_price.csv") 
# To print no. of samples and attributes
print(df.shape)

(5531, 10)

In [9]:
# getting the columns of the dataset
columns = list(df.columns)
print(columns)

['Unnamed: 0', 'car_name', 'car_prices_in_rupee', 'kms_driven', 'fuel_type', 'transmission', 'ownership', 'manufacture', 'engine', 'Seats']

In [10]:
# To print first five samples
print(df.head())

   Unnamed: 0                                car_name  car_prices_in_rupee  \
0           0  Jeep Compass 2.0 Longitude Option BSIV                10.03
1           1            Renault Duster RXZ Turbo CVT                12.83
2           2                      Toyota Camry 2.5 G                16.40
3           2                      Toyota Camry 2.5 G                16.40
4           4        Volkswagen Polo 1.2 MPI Highline                 5.15

   kms_driven fuel_type transmission ownership  manufacture  engine  Seats
0     86226.0    Diesel       Manual       1st       2017.0  1956.0    5.0
1     13248.0    Petrol    Automatic       1st       2021.0  1330.0    5.0
2     60343.0    Petrol    Automatic       1st       2016.0  2494.0    5.0
3     60343.0    Petrol    Automatic       1st       2016.0  2494.0    5.0
4     69414.0    Petrol       Manual       1st       2016.0  1199.0    5.0

In [11]:
#Describing dataset 
print(df.describe())

        Unnamed: 0  car_prices_in_rupee     kms_driven  manufacture  \
count  5531.000000          5529.000000    5528.000000  5526.000000
mean   2764.999819            11.653418   63159.128799  2015.459645
std    1596.806813            19.688035   41903.587380     3.929066
min       0.000000             1.000000     250.000000  1995.000000
25%    1382.500000             3.150000   33000.000000  2013.000000
50%    2765.000000             5.500000   59000.000000  2016.000000
75%    4147.500000            10.390000   84178.000000  2018.000000
max    5530.000000           192.000000  560000.000000  2022.000000

            engine        Seats
count  5523.000000  5528.000000
mean   1532.563462     5.250543
std     578.961969     0.719598
min       0.000000     2.000000
25%    1197.000000     5.000000
50%    1396.000000     5.000000
75%    1950.000000     5.000000
max    5950.000000     8.000000

In [12]:
#New dataframe 
new_df = df
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())

Unnamed: 0             0
car_name               0
car_prices_in_rupee    2
kms_driven             3
fuel_type              7
transmission           8
ownership              7
manufacture            5
engine                 8
Seats                  3
dtype: int64
Missing values distribution:
Unnamed: 0             0.000000
car_name               0.000000
car_prices_in_rupee    0.000362
kms_driven             0.000542
fuel_type              0.001266
transmission           0.001446
ownership              0.001266
manufacture            0.000904
engine                 0.001446
Seats                  0.000542
dtype: float64

In [13]:
# #Checking for duplicates
print(new_df.duplicated().any()) 
print(new_df.duplicated())
print(new_df.shape)

True
0       False
1       False
2       False
3        True
4       False
        ...
5526    False
5527    False
5528    False
5529    False
5530    False
Length: 5531, dtype: bool
(5531, 10)

In [14]:
print("Column datatypes: ")
print(new_df.dtypes)

Column datatypes:
Unnamed: 0               int64
car_name                object
car_prices_in_rupee    float64
kms_driven             float64
fuel_type               object
transmission            object
ownership               object
manufacture            float64
engine                 float64
Seats                  float64
dtype: object

In [15]:
#Replacing string values with integer 
new_df["ownership"].replace({"0th":"0","1st":"1","2nd":"2","3rd":"3","4th":"4","5th":"5"}, inplace = True) 
print(new_df.head())
print(new_df.shape) 
#Finding unique values in "ownership" 
print(new_df["ownership"].unique())

   Unnamed: 0                                car_name  car_prices_in_rupee  \
0           0  Jeep Compass 2.0 Longitude Option BSIV                10.03
1           1            Renault Duster RXZ Turbo CVT                12.83
2           2                      Toyota Camry 2.5 G                16.40
3           2                      Toyota Camry 2.5 G                16.40
4           4        Volkswagen Polo 1.2 MPI Highline                 5.15

   kms_driven fuel_type transmission ownership  manufacture  engine  Seats
0     86226.0    Diesel       Manual         1       2017.0  1956.0    5.0
1     13248.0    Petrol    Automatic         1       2021.0  1330.0    5.0
2     60343.0    Petrol    Automatic         1       2016.0  2494.0    5.0
3     60343.0    Petrol    Automatic         1       2016.0  2494.0    5.0
4     69414.0    Petrol       Manual         1       2016.0  1199.0    5.0
(5531, 10)
['1' '2' nan '3' '4' '5' '0']

In [16]:
#Describing data after preprocessing 
print(new_df.shape) 
print(new_df.head())

(5531, 10)
   Unnamed: 0                                car_name  car_prices_in_rupee  \
0           0  Jeep Compass 2.0 Longitude Option BSIV                10.03
1           1            Renault Duster RXZ Turbo CVT                12.83
2           2                      Toyota Camry 2.5 G                16.40
3           2                      Toyota Camry 2.5 G                16.40
4           4        Volkswagen Polo 1.2 MPI Highline                 5.15

   kms_driven fuel_type transmission ownership  manufacture  engine  Seats
0     86226.0    Diesel       Manual         1       2017.0  1956.0    5.0
1     13248.0    Petrol    Automatic         1       2021.0  1330.0    5.0
2     60343.0    Petrol    Automatic         1       2016.0  2494.0    5.0
3     60343.0    Petrol    Automatic         1       2016.0  2494.0    5.0
4     69414.0    Petrol       Manual         1       2016.0  1199.0    5.0

In [17]:
# eliminate null values
new_df.dropna(inplace=True)
# eliminate duplicate values
new_df.drop_duplicates(inplace=True)
# print(new_df)

      Unnamed: 0                                car_name  car_prices_in_rupee  \
0              0  Jeep Compass 2.0 Longitude Option BSIV                10.03
1              1            Renault Duster RXZ Turbo CVT                12.83
2              2                      Toyota Camry 2.5 G                16.40
4              4        Volkswagen Polo 1.2 MPI Highline                 5.15
5              5    Volkswagen Vento 1.2 TSI Highline AT                 7.66
...          ...                                     ...                  ...
5525        5525                 BMW X1 sDrive 20d xLine                28.90
5526        5526                   BMW M Series M4 Coupe                64.90
5527        5527              Jaguar XF 2.2 Litre Luxury                13.75
5528        5528                      BMW 7 Series 730Ld                29.90
5529        5529               BMW 5 Series 520d M Sport                31.90

      kms_driven fuel_type transmission ownership  manufacture  engine  Seats
0        86226.0    Diesel       Manual         1       2017.0  1956.0    5.0
1        13248.0    Petrol    Automatic         1       2021.0  1330.0    5.0
2        60343.0    Petrol    Automatic         1       2016.0  2494.0    5.0
4        69414.0    Petrol       Manual         1       2016.0  1199.0    5.0
5        49719.0    Petrol    Automatic         1       2017.0  1197.0    5.0
...          ...       ...          ...       ...          ...     ...    ...
5525     45000.0    Diesel    Automatic         1       2018.0  2995.0    7.0
5526     29000.0    Petrol    Automatic         2       2015.0  1968.0    5.0
5527     90000.0    Diesel    Automatic         2       2013.0  2755.0    5.0
5528     79000.0    Diesel    Automatic         3       2015.0  2967.0    6.0
5529     42000.0    Diesel    Automatic         2       2017.0  1991.0    5.0

[5502 rows x 10 columns]

In [18]:
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())

Unnamed: 0             0
car_name               0
car_prices_in_rupee    0
kms_driven             0
fuel_type              0
transmission           0
ownership              0
manufacture            0
engine                 0
Seats                  0
dtype: int64
Missing values distribution:
Unnamed: 0             0.0
car_name               0.0
car_prices_in_rupee    0.0
kms_driven             0.0
fuel_type              0.0
transmission           0.0
ownership              0.0
manufacture            0.0
engine                 0.0
Seats                  0.0
dtype: float64

In [19]:
new_df.to_csv("clean_car_price.csv", index=False)