In [1]:
import pandas as pd
df = pd.read_csv("clean4_car_price.csv")

In [3]:
df1 = df
#import dependencies 
from scipy import stats 
df1.head()

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,zscore
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03,86226.0,0,1,1,2017.0,1956.0,5.0,-0.083515
1,1,Renault Duster RXZ Turbo CVT,12.83,13248.0,1,0,1,2021.0,1330.0,5.0,0.058409
2,2,Toyota Camry 2.5 G,16.40,60343.0,1,0,1,2016.0,2494.0,5.0,0.239361
3,4,Volkswagen Polo 1.2 MPI Highline,5.15,69414.0,1,1,1,2016.0,1199.0,5.0,-0.330867
4,5,Volkswagen Vento 1.2 TSI Highline AT,7.66,49719.0,1,0,1,2017.0,1197.0,5.0,-0.203643

In [5]:
#choosing a column 
data = df1["car_prices_in_rupee"] 
data

0       10.03
1       12.83
2       16.40
3        5.15
4        7.66
        ...
5466    28.90
5467    64.90
5468    13.75
5469    29.90
5470    31.90
Name: car_prices_in_rupee, Length: 5471, dtype: float64

In [6]:
#t-test for charges 
stats.ttest_1samp(data, 0)

TtestResult(statistic=43.77701178573386, pvalue=0.0, df=5470)

In [7]:
#t-test for charges 
stats.ttest_1samp(data, 1)

TtestResult(statistic=40.028227866388335, pvalue=1.6174931126641318e-307, df=5470)