In [1]:
#import pandas
import pandas as pd
#import numpy
import numpy as np
#import matplotlib
import matplotlib.pyplot as plt
#import seaborn
import seaborn as sns

In [2]:
# use pandas to import csv file
df = pd.read_csv("clean4_car_price.csv")
# too see max columns
pd.set_option('display.max_columns',None)
# print dataframe
df

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,zscore
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03,86226.0,0,1,1,2017.0,1956.0,5.0,-0.083515
1,1,Renault Duster RXZ Turbo CVT,12.83,13248.0,1,0,1,2021.0,1330.0,5.0,0.058409
2,2,Toyota Camry 2.5 G,16.40,60343.0,1,0,1,2016.0,2494.0,5.0,0.239361
3,4,Volkswagen Polo 1.2 MPI Highline,5.15,69414.0,1,1,1,2016.0,1199.0,5.0,-0.330867
4,5,Volkswagen Vento 1.2 TSI Highline AT,7.66,49719.0,1,0,1,2017.0,1197.0,5.0,-0.203643
...,...,...,...,...,...,...,...,...,...,...,...
5466,5525,BMW X1 sDrive 20d xLine,28.90,45000.0,0,0,1,2018.0,2995.0,7.0,0.872949
5467,5526,BMW M Series M4 Coupe,64.90,29000.0,1,0,2,2015.0,1968.0,5.0,2.697682
5468,5527,Jaguar XF 2.2 Litre Luxury,13.75,90000.0,0,0,2,2013.0,2755.0,5.0,0.105041
5469,5528,BMW 7 Series 730Ld,29.90,79000.0,0,0,3,2015.0,2967.0,6.0,0.923636
5470,5529,BMW 5 Series 520d M Sport,31.90,42000.0,0,0,2,2017.0,1991.0,5.0,1.025010

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5471 entries, 0 to 5470
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5471 non-null   int64
 1   car_name             5471 non-null   object
 2   car_prices_in_rupee  5471 non-null   float64
 3   kms_driven           5471 non-null   float64
 4   fuel_type            5471 non-null   int64
 5   transmission         5471 non-null   int64
 6   ownership            5471 non-null   int64
 7   manufacture          5471 non-null   float64
 8   engine               5471 non-null   float64
 9   Seats                5471 non-null   float64
 10  zscore               5471 non-null   float64
dtypes: float64(6), int64(4), object(1)
memory usage: 470.3+ KB

In [4]:
#New dataframe 
new_df = df
#Checking for null values 
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())

Unnamed: 0             0
car_name               0
car_prices_in_rupee    0
kms_driven             0
fuel_type              0
transmission           0
ownership              0
manufacture            0
engine                 0
Seats                  0
zscore                 0
dtype: int64
Missing values distribution:
Unnamed: 0             0.0
car_name               0.0
car_prices_in_rupee    0.0
kms_driven             0.0
fuel_type              0.0
transmission           0.0
ownership              0.0
manufacture            0.0
engine                 0.0
Seats                  0.0
zscore                 0.0
dtype: float64

In [5]:
from sklearn.datasets import make_classification
X, y = make_classification(n_classes=2, class_sep=0.5,
weights=[0.05, 0.95], n_informative=2, n_redundant=0, flip_y=0,
n_features=2, n_clusters_per_class=1, n_samples=1000, random_state=10)

In [6]:
from sklearn.model_selection import train_test_split
  
# split into 75:25 ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [7]:
#KNN classifer
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier() 
model.fit(X_train, y_train) 
y_pred = model.predict(X_test) 
#Accuracy and Confusion matrix
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(accuracy_score(y_test, model.predict(X_test))) 
cm

0.98

array([[ 10,   5],
       [  0, 235]], dtype=int64)

In [8]:
new_df['car_prices_in_rupee'] = pd.cut(new_df['car_prices_in_rupee'], bins=1000, labels=False)

#Naive Bayes Classifier
x = new_df.drop(["car_name"], axis = 1)
y = new_df.car_name.values
from sklearn.model_selection import train_test_split
  
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train, y_train)
print("Naive Bayes score: ",nb.score(x_test, y_test))

Naive Bayes score:  0.07429963459196103

In [9]:

#split dataset in features and target variable
feature_cols = ['kms_driven','fuel_type','transmission','ownership','manufacture','engine','Seats','zscore']
X = new_df[feature_cols] # Features
y = new_df.car_prices_in_rupee # Target variable

In [10]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [11]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [12]:
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9671132764920828